.body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.info {
  position: absolute;
  top: 30%;
  left: 40%;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#particle-js {
  height: 100vh;
}
