.body {
  font-family: 'Lato', sans-serif;
}

.background {
  z-index: -10;
}

.test {
  z-index: 1000;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#particles-js {
  height: 100vh !important;
}
