.body {
  margin: 0;
  font-family: 'Lato' !important;
}

.text-main {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.text-secondary {
  font-family: 'Lato';
  font-weight: 500;
}

.info {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.test {
  background-color: grey;
}
